.navbar {
  height: 110px;
}

h1 {
  font-family: "Righteous", cursive;
  color: rgb(201, 201, 201);
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 44px;
  }

  .navbar {
    height: 100px;
  }
}
