<div class="row justify-content-center mt-4">
    <div class="btn-group dropright">
        <button type="button" class="btn btn-dark">
          Select color
        </button>
        
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropright</span>
        </button>

        <ul class="dropdown-menu">
            <li class="dropdown-item">White</li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item">Black</li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item">Red</li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item">Green</li>
        </ul>
      </div>
</div>