select option {
  color: black;
}

label {
  color: rgb(143, 143, 143);
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(155, 58, 180, 1) 0%,
    rgba(30, 29, 253, 0.8701855742296919) 40%,
    rgba(114, 252, 69, 1) 100%
  );
}

#colors {
  background-color: black;
  color: white;
}
