.row {
  justify-content: center;
  margin-top: 28px;
}

input,
textarea {
  background-color: rgb(0, 0, 0);
  border: 3px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(155, 58, 180, 1) 0%,
    rgba(30, 29, 253, 0.8701855742296919) 40%,
    rgba(114, 252, 69, 1) 100%
  );
  border-image-slice: 1;
  color: white;
}

input:focus,
textarea:focus {
  background-color: rgb(18, 18, 18);
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: rgb(177, 177, 177);
}
