<div class="row">
    <div class="col-lg-7 col-md-9 col-11">
        <input type="text" class="form-control" placeholder="Title"
            name="title" [(ngModel)]="stickyNote.title">
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-md-9 col-11">
        <input type="text" class="form-control" placeholder="Topic"
            name="topic" [(ngModel)]="stickyNote.topic">
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-md-9 col-11">
        <textarea rows="10" class="form-control" placeholder="Description"
            name="description" [(ngModel)]="stickyNote.description"></textarea>
    </div>
</div>