.row {
  justify-content: center;
  margin-top: 20px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

.container {
  margin-top: 80px;
}

input,
textarea {
  background-color: rgb(0, 0, 0);
  border: 3px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(155, 58, 180, 1) 0%,
    rgba(30, 29, 253, 0.8701855742296919) 40%,
    rgba(114, 252, 69, 1) 100%
  );
  border-image-slice: 1;
}

input:focus,
textarea:focus {
  background-color: rgb(23, 23, 23);
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: rgb(177, 177, 177);
}

ul {
  background-color: black;
}

.dropdown-item {
  color: white;
}
