<form class="container">
    <h2 class="text-center mb-4 text-light">Note's Form</h2>
    
    <app-inputs [stickyNote]="stickyNote"></app-inputs>
    <app-dropdown [stickyNote]="stickyNote" [submitted]="submitted"></app-dropdown>

    <div class="row justify-content-center mt-4">
        <div class="col-lg-3 col-md-4 col-11 mb-3">
            <button class="btn btn-block btn-success text-dark" (click)="save()">Save</button>
        </div>
        
        <div class="col-lg-3 col-md-4 col-11 mb-3">
            <button class="btn btn-block btn-danger">Cancel</button>
        </div>
    </div>
</form>