<div class="container">
    <div class="row">
        <div class="col-lg-4 mt-5" *ngFor="let stickyNote of stickyNotes">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="card-title">{{ stickyNote.title }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted">{{ stickyNote.topic }}</h4>
                    <p class="card-text">{{ stickyNote.description }}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
