<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 mt-5" *ngFor="let stickyNote of stickyNotes">
            <div class="card bg-light">
                <div class="card-header">
                    <h2 class="card-title">{{ stickyNote.title }}</h2>
                </div>

                <div class="card-body">
                    <h4 class="card-subtitle mb-2 text-muted">{{ stickyNote.topic }}</h4>
                    <p class="card-text">{{ stickyNote.description }}</p>
                </div>

                <div>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>

                <div class="card-footer text-muted">
                    {{ stickyNote.date | date: 'short' }}
                </div>
            </div>
        </div>
    </div>
</div>
