/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(14, 14, 14) !important;
}

.navbar,
label {
  background: linear-gradient(
    90deg,
    rgba(155, 58, 180, 1) 0%,
    rgba(30, 29, 253, 0.8701855742296919) 40%,
    rgba(114, 252, 69, 1) 100%
  );
}

.btn-success {
  background: radial-gradient(
    circle,
    rgba(191, 244, 99, 1) 0%,
    rgba(18, 244, 34, 1) 100%
  );
}

.btn-danger {
  background: radial-gradient(
    circle,
    rgba(244, 99, 139, 1) 0%,
    rgba(244, 18, 18, 1) 100%
  );
}

.btn-primary {
  background: radial-gradient(
    circle,
    rgba(99, 169, 244, 1) 0%,
    rgba(69, 18, 244, 1) 100%
  );
}

button {
  font-family: "Castoro", serif;
  font-size: 18px;
  border-radius: 10%;
}

.bg-primary {
  background: linear-gradient(
    0deg,
    rgb(155, 202, 245) 0%,
    rgb(32, 25, 254) 100%
  );
}

.bg-secondary {
  background: linear-gradient(
    0deg,
    rgb(210, 210, 210) 0%,
    rgb(84, 84, 84) 100%
  );
}

.bg-success {
  background: linear-gradient(0deg, rgb(84, 255, 90) 0%, rgb(0, 130, 19) 100%);
}

.bg-danger {
  background: linear-gradient(0deg, rgb(245, 97, 97) 0%, rgb(177, 0, 0) 100%);
}

.bg-warning {
  background: linear-gradient(
    0deg,
    rgba(255, 253, 226, 1) 0%,
    rgba(255, 254, 0, 1) 100%
  );
}

.bg-info {
  background: linear-gradient(
    0deg,
    rgba(44, 255, 254, 1) 0%,
    rgba(1, 177, 221, 1) 100%
  );
}

.bg-dark {
  background: linear-gradient(
    0deg,
    rgba(68, 68, 68, 1) 0%,
    rgb(12, 12, 12) 100%
  );
}

.bg-light {
  background: linear-gradient(
    0deg,
    rgb(225, 225, 225) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.bg-primary,
.bg-secondary,
.bg-success,
.bg-danger,
.bg-dark {
  color: white;
}
