/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(14, 14, 14) !important;
}

.navbar,
label {
  background: linear-gradient(
    90deg,
    rgba(155, 58, 180, 1) 0%,
    rgba(30, 29, 253, 0.8701855742296919) 40%,
    rgba(114, 252, 69, 1) 100%
  );
}

.btn-success {
  background: radial-gradient(
    circle,
    rgba(191, 244, 99, 1) 0%,
    rgba(18, 244, 34, 1) 100%
  );
}

.btn-danger {
  background: radial-gradient(
    circle,
    rgba(244, 99, 139, 1) 0%,
    rgba(244, 18, 18, 1) 100%
  );
}
