<form class="container">
    <h2 class="text-center text-light mb-4">Note's Form</h2>
    <div class="row">
        <div class="col-lg-7 col-md-9 col-11">
            <input type="text" class="form-control" placeholder="Title">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-9 col-11">
            <input type="text" class="form-control" placeholder="Subtitle">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-9 col-11">
            <textarea rows="10" class="form-control" placeholder="Description"></textarea>
        </div>
    </div>
</form>